    <section class="servicios linea-separacion" id="servicios">
        <article class="servicios">
            <header>
                <h2 class="titulo gris">aviso de privacidad</h2>
            </header>
            <div style="font-size: smaller">
                {{ configuracion.texto | raw }}
            </div>
        </article>
    </section>