    <section class="servicios linea-separacion" id="servicios">
        <article class="servicios">
            <header>
                <h2 class="titulo gris">términos y condiciones</h2>
            </header>
            <p>AVISO DE PRIVACIDAD relacionado con los datos personales, recabados por PALM & BETANCOURT-COURIER Y TRANSPORTE, S.A. DE C.V., (en adelante denominada  como “LA EMPRESA”)</p>
            <div style="font-size: smaller">
                {{ configuracion.texto | raw }}
            </div>
        </article>
    </section>
