@import 'nib'
@import 'normalize'
@import 'fuentes'


box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments
	
opacity(n)
	opacity n
	if support-for-ie
		filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

color_vino = rgb(152,1,46)
color_vino_oscuro = rgb(108,5,36)
color_gris_oscuro = #374959

body
	font-size 16px
	background-color white
	font-family "TeXGyreAdventor-Regular"
	

header nav
	background-color color_vino
	height 86px
	width 100%
	text-align center
	& li
		display inline-block
		vertical-align top
		& a
			height 86px
			line-height 86px
			font-size 1.3em
			color white
			text-decoration none
			text-transform uppercase
			padding 0px 10px
			transition all .5s ease
			background-color color_vino
			display block
			&.active
			&:hover
				background-color color_vino_oscuro
ul
	padding 0
	margin 0

.boletin
	background-color color_gris_oscuro
	color white
	text-align center
	& .leyenda 
	& .form-newsletter
		display inline-block
		vertical-align top
	& .leyenda
		height 30px
		line-height 30px
		padding 10px
		width 450px
		margin 0 auto
		& img
			float right
	& .form-newsletter
		width 450px
		overflow hidden
		height 30px
		padding 10px
		position relative
		& input 
			display inline-block
			vertical-align top
			font-size .8em
			padding .4em
			width 170px
			color black
		& .boton-guardar-newsletter
			position absolute 
			top 5px
			right 0px
			z-index 1000
		

footer
	background-color color_vino
	height 140px
	width 100%
	color white
	text-align center
	font-size .8em
	& a
		text-decoration none
		color white
	& ul.info 
		padding-top .5em
		& li
			display inline-block 
			vertical-align top
			width 266px
			&:nth-child(odd)
				padding-right 1em
			&:nth-child(even)
				padding-left 1em
			& .direccion
				height 50px
				&.flat
					height 25px
			& figure
				margin 0
.border-r
	border-right 1px solid white
	&.border-r-vino
		border-right 1px solid color_vino
.menu_bar
	display none

.logo-redes-sociales
	position relative
	text-align center
	& .social_face_top
		position absolute
		top 50%
		right 100px
		margin-top -44px
		z-index 1000

.text-align-right
	text-align right

.text-align-left 
	text-align left
	

@media screen and (max-width: 1024px )
	.logo-redes-sociales
		.social_face_top
			right 0px

@media screen and (max-width: 960px)
	header
		position relative 
		
	header .logo-redes-sociales
		display none

	header nav 
		width 80%
		height 100%
		left -100%
		top 75px
		margin 0
		position absolute
		transition all .5s ease-in-out
		z-index 1001
		& li
			display block
			border-bottom 1px solid white
			width 100%
			& a
				box-sizing border-box
				margin 0
				padding 10px 20px
				text-align left
				height 52px
				line-height 32px
				width 100%
				font-size 1em

	header .menu_bar
		display block
		width 100%
		background-color color_vino
		& .bt-menu
			display block
			padding 10px 20px
			text-decoration none
			color white
			font-weight normal
			font-size 1em
			box-sizing border-box
		& span
			float right
			
	header .boletin
		height 50px
		overflow hidden
		transition all .5s ease
		&:hover
			height 150px
		& .form-newsletter
			overflow auto
			height auto
			text-align left
			width 450px
			input
				margin-bottom 10px
				width 80%

	footer
		padding .5em

@media screen and (max-width: 480px)
	footer
		text-align center
		height auto
		& ul.info 
			padding-top .5em
			margin 0 auto
			& li
				display block
				width 100%
				border none
				&:nth-child(odd)
				&:nth-child(even)
					padding 0
		& .text-align-left
		& .text-align-right
			text-align center


@media screen and (max-width: 400px)
	header .boletin
		& .leyenda
			font-size .7em
			width 90%
			padding-left 10px
			padding-right 10px
		& .form-newsletter
			width 90%