<table id="datatable" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Empresa</th>
            <th>Usuario de empresa</th>
            <th>Fecha solicitud</th>
            <th>Status</th>
            <th>Fecha creacion</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="cuerpoTabla">
        {% for entity in entities %}
            {% include 'PakmailBundle:Envio:item.html.twig' with {'entity': entity } %}
        {% endfor %}
    </tbody>
</table>
